.lorenzoBadge {
    position: absolute !important;
    height: 900px !important;
    width: 100vw !important;
    z-index: 0 !important;
    top: -100px;
    right: -20vw;
    overflow-x:  hidden !important;
}

@media (max-width: 770px) {
    .lorenzoBadge {
        right: 0vw;
    }
}
